@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@100&family=Roboto:wght@500&family=Ubuntu&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

body,
/* Pour supprimer les 'margin'/'padding' par défaut */
h1,
h2,
h3,
h4,
h5,
h6, 
p,
ul,
ol {
  margin: 0;
  padding: 0;
}
body{
  background-color: #dcab22;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
}

.header {
  width: 100%;
  background-color: #06799c;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* Ajoute une légère ombre en bas */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0;
  margin-bottom: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header img {
  margin-left: 2rem;
  margin-right: 1rem;
  width: 50px;
  height: auto;
 
}

.search-bar{
  width: 20rem;
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
  border: #023f52 2px solid;
}


.search-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.search-container button:hover,.form-container button:hover, .show-all-btn:hover {
  background-color: #039bc9;
  color: #fff;
}

.search-btn {
  border: 2px solid #01232d;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #045872;
  color: white;
  cursor: pointer;
}

.app-title{
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
 font-weight: 900;
 font-family: 'Ubuntu', sans-serif;

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #d79f06;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #b48503;
}

.form-container input {
  margin-bottom: 10px;
  padding: 5px;
  width: 200px;
}

.form-container button, .show-all-btn {
  background-color: #045872;
  color: white;
  border: 2px solid #01232d;
  cursor: pointer;
  width: 10rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.show-all-btn{
  margin-bottom: 1rem;
}


.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 22rem;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #b48503;
  background-color: #d79f06;
}

.product-item p {
  margin: 6px;
}

.product-item button {
  margin-top: 8px;
  padding: 5px 10px;
  background-color: #045872;
  border: 2px solid #01232d;
  color: white;
  cursor: pointer;
}
.product-item button:hover {
  background-color: #039bc9;
  color: #fff;
}


button {
  border-radius: 5rem;
}

.add-title{
  margin-bottom: 1rem;
}
.show-title{
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


input{
  border-radius: 5px;
  border: #023f52 2px solid;
  padding: 5px;
}


.page-body {
  display: flex;
}

.left-container {
  width: 30%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  background-color: #045872;
  border-radius: 5px;
  padding-right: 2rem;
  padding-left: 2rem;

}
.left-container img{
  margin-top: 0;
  margin-bottom: 0;
}

.right-container {
  width: 70%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;

}


/* Plus de réactivité */
@media (max-width: 600px) {

  .form-container input,
  .form-container button,
  .search-container input,
  .search-container button,
  .product-item {
    width: 100%;
  }
}